openapi: 3.1.0
info:
  title: Amazon Deadline Cloud Farms Fleets API
  description: The Amazon Deadline Cloud API provides programmatic access to manage farms, queues, fleets, jobs, and workers for cloud-based rendering and simulation workloads on AWS.
  version: 2023-10-12
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
servers:
- url: https://deadline.amazonaws.com
  description: Amazon Deadline Cloud API
security:
- awsSignatureV4: []
tags:
- name: Fleets
  description: Operations for managing compute fleets
paths:
  /2023-10-12/farms/{farmId}/fleets:
    get:
      operationId: listFleets
      summary: List Fleets
      description: Lists all compute fleets in a render farm.
      tags:
      - Fleets
      parameters:
      - name: farmId
        in: path
        required: true
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - ACTIVE
          - CREATE_IN_PROGRESS
          - UPDATE_IN_PROGRESS
          - DELETE_IN_PROGRESS
          - CREATE_FAILED
          - UPDATE_FAILED
          - DELETE_FAILED
      - name: maxResults
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of fleets returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFleetsResponse'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    fleets:
                    - fleetId: fleet-001abc
                      farmId: farm-0abc123
                      displayName: Spot Instance Fleet
                      status: ACTIVE
                      workerCount: 50
                      createdAt: '2024-01-22T10:00:00Z'
    post:
      operationId: createFleet
      summary: Create Fleet
      description: Creates a compute fleet within a render farm.
      tags:
      - Fleets
      parameters:
      - name: farmId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFleetRequest'
            examples:
              default:
                x-microcks-default: true
                value:
                  displayName: Spot Instance Fleet
                  description: Cost-optimized spot instance fleet for rendering
                  roleArn: arn:aws:iam::123456789012:role/DeadlineCloudFleetRole
                  configuration:
                    customerManaged:
                      instanceCapabilities:
                        vCpuCount:
                          min: 16
                        memoryMiB:
                          min: 32768
                        instanceMarketOptions:
                          type: spot
      responses:
        '200':
          description: Fleet created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFleetResponse'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    fleetId: fleet-001abc
components:
  schemas:
    CreateFleetResponse:
      description: Response after creating a fleet.
      type: object
      properties:
        fleetId:
          type: string
    Fleet:
      description: A compute fleet in a render farm providing worker capacity for jobs.
      type: object
      properties:
        fleetId:
          type: string
          description: The unique identifier of the fleet
        farmId:
          type: string
        displayName:
          type: string
          description: The display name of the fleet
        status:
          type: string
          enum:
          - ACTIVE
          - CREATE_IN_PROGRESS
          - UPDATE_IN_PROGRESS
          - DELETE_IN_PROGRESS
          - CREATE_FAILED
          - UPDATE_FAILED
          - DELETE_FAILED
        workerCount:
          type: integer
          description: The number of workers in the fleet
        roleArn:
          type: string
          description: The ARN of the IAM role for the fleet. This ARN uniquely identifies the role.
        createdAt:
          type: string
          format: date-time
    CreateFleetRequest:
      description: Request body for creating a compute fleet.
      type: object
      required:
      - displayName
      - roleArn
      - configuration
      properties:
        displayName:
          type: string
        description:
          type: string
        roleArn:
          type: string
        configuration:
          type: object
        minWorkerCount:
          type: integer
        maxWorkerCount:
          type: integer
    ListFleetsResponse:
      description: Response containing a list of fleets.
      type: object
      properties:
        fleets:
          type: array
          items:
            $ref: '#/components/schemas/Fleet'
        nextToken:
          type: string
  securitySchemes:
    awsSignatureV4:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 authentication
